:root {
  --primary-color: #a9cee1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Open Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main {
  transition: background-image 0.5s ease-in-out;
  &.clear {
    background-image: url('/clear.jpeg');
  }
  &.clear-cloudy {
    background-image: url('/clear-cloudy.jpg');

    filter: contrast(120%);
    background-position: bottom;
    > .main-infos-container {
      .main-infos {
        backdrop-filter: blur(1.5px);
      }
    }
  }
  &.clouds {
    background-image: url('/clouds.jpeg');
    background-position: inherit;
  }
  &.snow {
    background-image: url('/snow.jpg');
    filter: contrast(120%);
    > .main-infos-container {
      backdrop-filter: blur(1.5px);
      text-shadow: black 0.1em 0.1em 0.2em;
    }
  }
  &.heavy-snow {
    background-image: url('/heavy-snow.jpg');
  }
  &.ice {
    background-image: url('/ice.jpg');
    background-position: bottom;
  }
  &.thunderstorm {
    background-image: url('/thunderstorm.jpg');
    > .main-infos-container .main-infos > .weather-status-container {
      width: 120px;
    }
  }
  &.rain {
    background-image: url('/rain.jpg');
  }
  &.fog {
    background-image: url('/fog.jpg');
    background-position: left;
  }
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-image: url('/clear.jpeg');
  background-size: cover;
  background-position: center;

  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .loader {
    background-color: #ffffff00;

    text-align: center;
    font-size: 4rem;
    font-weight: 200;

    .loading:after {
      content: ' .';
      animation: dots 1s steps(5, end) infinite;
    }

    @keyframes dots {
      0% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
      }
      20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
      }
      40% {
        color: rgb(0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
      }
      60% {
        text-shadow: 0.25em 0 0 rgb(0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
      }
      80% {
        text-shadow: 0.25em 0 0 rgb(0, 0, 0), 0.5rgb (0, 0, 0) 0 rgb(0, 0, 0);
      }
      100% {
        text-shadow: 0.25em 0 0 rgb(0, 0, 0), 0.5em 0 0 rgb(0, 0, 0);
      }
    }
  }

  > .main-infos-container {
    flex: 2;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 50px 50px 85px 60px;
    flex-direction: column;
    position: relative;
    * {
      font-family: 'Jost', 'Open Sans', Arial, sans-serif;
      font-weight: bold;
    }

    .error-container {
      background-color: red;
      padding: 10px;
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .design-setting-container {
      display: flex;
      justify-content: space-between;
      .design {
        text-decoration: none;
        color: white;
      }
      > .settings-button {
        color: #000;
        border: none;
        min-width: 80px;
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        cursor: pointer;
        background-color: #00000000;
        // background-color: var(--primary-color);
        transition: background-color 250ms ease-in-out;
        display: none;
        // > .settings-icon {
        //   width: 20px;
        // }
      }
    }

    .main-infos {
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      align-items: center;
      color: #ffffff;
      * {
        font-family: 'Jost', 'Open Sans', Arial, sans-serif;
        font-weight: bold;
      }

      > .location-date-container {
        font-size: 2rem;
        //TODO:setar aqui pra quebrar o texto
        word-break: break-word;
        .location {
          font-size: 5rem;
          line-height: 1;
        }
        .date {
          font-size: 1.2rem;
        }
      }
      .temperature {
        font-size: 8rem;
      }
      > .weather-status-container {
        width: 80px;
        text-align: center;
        font-size: 1.3rem;
      }
    }
  }

  > .sidebar {
    $sidebar-margin: 0px 50px;
    $sidebar-padding: 55px 0px;
    min-width: 360px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    -moz-backdrop-filter: blur(18px);
    -ms-backdrop-filter: blur(18px);
    background: rgba(50, 50, 50, 0.5);
    width: 100%;
    box-shadow: 0 -5px 16px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    > .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      .form-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;

        > .form-input {
          margin: $sidebar-margin;
          width: 100%;
          height: 40px;
          font-size: 18px;
          background-color: rgba(0, 0, 0, 0);
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: solid rgba(255, 255, 255, 0.4) 1px;
          color: #ffffff66;
          transition: border-bottom-color 250ms ease-in-out;

          &::placeholder {
            color: #ffffff66;
          }
          &:focus {
            outline: none;

            border-bottom: solid var(--primary-color) 1px;
          }
        }

        > .submit-button {
          color: #000;
          border: none;
          min-width: 80px;
          min-height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          cursor: pointer;
          background-color: var(--primary-color);
          transition: background-color 250ms ease-in-out;

          > .submit-icon {
            width: 20px;
          }
        }
      }
      > .searchCities {
        display: flex;
        flex-direction: column;
        margin: $sidebar-margin;
        padding: $sidebar-padding;
        gap: 30px;
        .searchCity-option {
          all: unset;

          font-size: 18px;
          color: #ffffff66;
          &:hover {
            cursor: pointer;
            color: rgb(255, 255, 255);
          }
        }
      }
    }

    > .weather-info {
      display: flex;
      flex-direction: column;
      margin: $sidebar-margin;
      padding: $sidebar-padding;
      border-top: solid rgba(255, 255, 255, 0.3) 1px;
      color: rgba(255, 255, 255, 0.4);
      gap: 30px;
      h2 {
        color: white;
      }
      .weather-info-line {
        display: flex;
        justify-content: space-between;
        > .value {
          color: white;
        }
      }
    }

    .next-days-info {
      border-top: solid rgba(255, 255, 255, 0.3) 1px;
      margin: $sidebar-margin;
      padding: $sidebar-padding;
      .day-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 100%;
        .weather-status-container {
          width: 60px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1010px) {
  .main {
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100vh;
    max-width: 100vw;

    height: auto;
    .main-infos-container {
      padding: 20px 20px 45px 25px;
      min-width: 100vw;
      > .main-infos {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main > .main-infos-container .main-infos {
    .temperature {
      font-size: 5rem;
    }
    .location-date-container {
      .location {
        font-size: 3rem;
      }
      .date {
        font-size: 1rem;
      }
    }
    .weather-status-container {
      width: 45px;
      .weather-status-icon {
        width: 45px;
      }
      .weather-status {
        font-size: 1rem;
      }
    }
  }

  .main {
    > .sidebar {
      min-width: 320px;
    }
  }
}

@media screen and (max-width: 425px) {
  .main > .main-infos-container .main-infos {
    .temperature {
      font-size: 4rem;
    }
    .location-date-container {
      .location {
        font-size: 18px;
      }
      .date {
        font-size: 0.8rem;
      }
    }
  }
}
